@font-face {
  font-family: "DunggeunmisoR";
  src: url("./fonts/Dunggeunmiso-R.otf") format("opentype");
  font-style: normal;
}
* {
  font-family: "DunggeunmisoR", Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100vw;
  min-height: 100vh;
}
